
 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
 
  font-size: 2rem;
}
.admin-Side-List .admin-Sidebar {
  text-decoration: none;
  border: none;
  /* color: var(--custom-secondary-font-color); */

}
.admin-Side-List{
  border-radius: 0;
}
.sidebar .row{
  margin-left: 0;
}
#sidebar-wrapper .list-group {
  width: 15rem;
  text-align: center;


}

#page-content-wrapper {
  min-width: 100vw;
}
/* own style for admin  */
.admin-humburger:focus{
box-shadow: none;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
