:root {
  /* --main-bg-color: coral; */
   
  --custom-primary-color:#056674;
  --custom-secondary-color:#e0ece4;
  --custom-main-color:#ff4b5c;
  --custom-font-color:#e0ece4; 
  --custom-font-family:'Kanit', sans-serif;
  --custom-secondary-font-color:#ff4b5c;

}
/*custom variable*/

